body {
    background: url(http://scp-wiki-cn.wdfiles.com/local--files/component%3Atheme/body_bg.png) top left repeat-x;
}

.header {
    background: url(http://scp-wiki-cn.wdfiles.com/local--files/component%3Atheme/logo.png) 10px 40px no-repeat;
    min-height: 70px;
    width: 100%;
    background-position: 0.5em 4.5em;
    background-position-x: 0.5em;
    background-position-y: 4.5em;
    background-size: 66px 66px;
}

.eoscp.title {
    color: rgb(238, 238, 238);
    cursor: pointer;
    display: inline;
    color: #eee;
    font-family: BauhausLTDemi, Simhei, Arial, sans-serif;
    font-size: 180%;
    font-weight: 700;
    height: auto;
    letter-spacing: 0.9px;
    line-height: 0px;
    text-decoration-thickness: auto;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}